{% extends 'base.html' %}
{% block content %}
<h2 class="text-center text-success fw-bolder mt-3">Privacy</h2><br>

<ul>
    <li><strong>Data Collection Transparency:</strong> Clearly inform users about what personal data is being collected, why it's collected, and how it will be used.</li><br>
    <li><strong>User Consent:</strong> Obtain explicit consent from users before collecting their personal data through opt-in forms or checkboxes.</li><br>
    <li><strong>Data Minimization:</strong> Collect only the data necessary for your services. Avoid gathering excessive information that isn't required.</li><br>
    <li><strong>Secure Data Storage:</strong> Implement robust security measures to protect user data from unauthorized access, breaches, or leaks, including encryption and secure server practices.</li><br>
    <li><strong>User Rights:</strong> Inform users of their rights regarding their personal data, including the right to access, correct, delete, or transfer their data.</li><br>
    <li><strong>Cookies and Tracking:</strong> Disclose your use of cookies and tracking technologies, providing options for users to manage their cookie preferences.</li><br>
    <li><strong>Third-Party Sharing:</strong> Be transparent about whether user data will be shared with third parties, and provide a list of these parties along with the purpose of sharing.</li><br>
    <li><strong>Data Retention Policy:</strong> Specify how long user data will be retained and the criteria used to determine retention periods.</li><br>
    <li><strong>Privacy Policy:</strong> Maintain a clear and accessible privacy policy that outlines all aspects of data collection and usage.</li><br>
    <li><strong>Regular Audits:</strong> Conduct regular audits of your data handling practices to ensure compliance with privacy regulations and best practices.</li><br>
    <li><strong>User Notifications:</strong> Noti

{% endblock content %}}